.nav {
    align-self: center;
    list-style-type: none;
    margin-right: 50px;
}
.navobject {
    margin:  5px;
    justify-content: flex-end;
    display: inline;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-size: 20px;
}
body {
    background-image: url("../images/bgroundimg.jpg");
    font-family: sans-serif;
}
/* 
        fixed navbar
#stickyhead {
position: fixed;
width: 100%;
z-index: 5;
} */
.headerfooter {
    height: 106px;
    margin-bottom: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 153, 35);
}
.logoname {
    flex-direction: column;
    margin-left: 50px;
}
#heroimg {
    /* margin-top: 110px; */
    height: 500px;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.heroimgdiv{
  display: flex;
  position: relative;
}
.imgdivp {
    width:fit-content;
    left: 40%;
    right: 30%;
    align-self: flex-end;
    position: absolute;
    padding: 5px;
    font-size: 36px;
    font-weight: bold;
    background-color: white;
}
.foodideas {
    margin: 15px;
    display: flex;
    width: 30%;
    flex-direction: column;
    
}
.foodideaimg, .healthyimg {
    height: 250px;
   width: 100%;
   object-fit: cover;
}
.ideacontainer {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}
.ideatext {
width: 67%;
margin: 0 auto;
}
.healthycontainer {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: rgb(230, 230, 235);
}
.healthyimgcontainer {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.healthyimgdiv {
    margin: 0 15px;
    text-align: center;
    width: 15%;
}
.healthypar {
    margin: 0;
    background-color: white;
    font-size: 24px;
}
.healthyimg {
    margin: 0;
    width: 100%;
    height: 100%;
}
.healthytext {
    width: 64%;
    margin: 0 auto;
}
.whereimg {
    object-fit: cover;
    height: 95%;
    width: 95%;
    margin: 0 auto;
}
.whereimgdiv {
    height: 300px;
    display: flex;
    object-fit: cover;
    flex-direction: row;
    justify-content: center;

}
.wheretext {
    width: 64%;
    margin: 0 auto;
}
.wherecontent {
    padding: 20px 0 100px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.whereimgtxtcontainer {
    text-align: center;
    width: 20%;
    margin: 20px;
}
.whereimgouter {
    margin: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(230, 230, 235);
}
.footerpar {
    margin: 0 50px;
}
.bengalimgdiv{
    display: flex;
    position: relative;
}
.bengalimg {
    object-fit: cover;
    width: 100%;
    height: 450px;
}
h3 {
    font-size: 32px;
}
.graybox {
    box-shadow: 2px;
    background-color: rgb(230, 230, 235);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.prep {
    align-self: flex-end;
}
.yield {
    align-self: center;
    margin-top: 40px;
}
.checked {
    color: rgb(255, 123, 0);
    align-self: center;
}
i {
    align-self: center;
    height: 20px;
    margin-left: 10px;
    color: gray;
    font-size: large;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
}
.bengalh1 {
    padding-top: 20px;
    font-size: 40px;
    margin: 0 auto;
}
.bengalinfo {
    display: flex;
    flex-direction: column;
}
.bengalinfotop {
    margin: 10px;
    display:flex;
    justify-content: center;
}
.bengalinfop {
    margin: 0 10px;
}
.button {
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
    padding: 10px;
}
.bengalcontainer {
    width: 80%;
    margin: 0 auto;
}
#grayboxbengal {
    text-align: center;
}
.finaltext {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.numberlist {
    margin: 20px;
    width: 70%;

}
.ingredients {
    width: 100%;
}
.directions {
    margin-left: 100px;
    width: 100%;
}
.grilltime {
    margin-left: 20px;
    font-weight: bolder;
}
.spicemix {
    margin-left: 50px;
}
iframe {
    width: 560px;
    height: 315px;
}
@media only screen and (max-width: 900px) {
    .finaltext {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 600px) {
    .directions {
        width: fit-content;
        margin-left: 0px;
    }
}